<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Login</h1>

    <form method="POST">
        <label>Username:</label><br>
        <input type="text" name="username" required><br><br>

        <label>Password:</label><br>
<input type="password" name="password" id="password" required>
<button type="button" onclick="togglePassword()">Show</button><br><br>

<script>
function togglePassword() {
    var passField = document.getElementById("password");
    if (passField.type === "password") {
        passField.type = "text";
    } else {
        passField.type = "password";
    }
}
</script>


        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a></p>
</body>
</html>
